* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-top: 10px;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  max-width: 420px;
  margin: 30px auto;
}

/* RESPONSIVE HP */
@media (max-width: 500px) {
  .game {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  width: 100%;
  padding-top: 100%;
  perspective: 1000px;
}

.card-inner {
  position: absolute;
  inset: 0;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.open .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 12px;
}

.card-front {
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.card-back {
  transform: rotateY(180deg);
  overflow: hidden;
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#win {
  display: none;
  margin-top: 30px;
}

#win img {
  width: 200px;
  border-radius: 12px;
  margin-top: 10px;
}
